---
layout: default
section_id: pages


---

<div class="full light-grey centered-text portrait">
  <!-- <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">About</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p>"A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away."</p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div> -->
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>About</h2>
        <p>
          Photography: When I little kid sometimes my parents would hand me a film camera to use. It was okay I guess (kids aren't instantly thrilled by something that gets developed weeks later). Then my parents got a digital camera.
          This was more interesting for sure! But it wasn't until 2004 when, as a ten-year-old, on a trip to Washington D.C., my grandparents loaned me a camera I could use all on my own. A camera all to myself! I took all sorts of pictures.
          Then I came home, made a powerpoint and shared them with my class. Soon after, my parents got me a little digital camera of my own, nothing fancy, but I was happy with it and would walk around the yard taking pictures of flowers and whatnot.
          Several cameras and several tens of thousands of photos later I'm where I'm at today. Sometimes my friends think I'm crazy when I stop the car in the middle of an empty road and take a picture or get up before dawn to take a picture.
          If you want the good ones, you have to work for them!
        </p>
      <p>
        I'll write about thoughts and stories and stuff some other time. If you have anything else burning you want to see in the "About", let me know.
      </p>

      </div>
    </div>
  </div>
</div>
<!-- <div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>The team</h2>
        <p>We are happy to work together</p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class="member">
          <img src="{{site.url}}/{{member.avatar}}" alt="">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
          <div class="member-info">
            <h4>{{member.name}}</h4>
            <p class="position">{{member.position}}</p>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->