---
layout: default
section_id: pages


---

<div class="full light-grey centered-text portrait">
  <!-- <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">About</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p>"A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away."</p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div> -->
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>About</h2>
        <p>I'm the mountains, rivers, streams, physics tests, job interviews, conversations with friends and family, ... all those things I've seen and heard and felt. 
          I'm actually nothing but the pile of experience that life and the people in it have handed me. 
          Perhaps I'm not any different than anyone else in that regard except I am one who likes to reflect and think about all these things</p>
        <p>
          As a kid, sometimes I would sit in "the black chair" in the living room (which is how my family referred to it) and look out the window. My mom would walk by and ask me, "what are you doing"?</p>
        <p>
          "Just thinking," I would say. </p>
        <p>That's perhaps all you need to know for now. If you happen to walk by this website and ask me "what are you doing?", well, I'm just looking at things and thinking.</p>
        <p>There's a lot of nice things out there to look at and think about. I've decided to share them.</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>The team</h2>
        <p>We are happy to work together</p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class="member">
          <img src="{{site.url}}/{{member.avatar}}" alt="">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
          <div class="member-info">
            <h4>{{member.name}}</h4>
            <p class="position">{{member.position}}</p>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->