---
layout: default
section_id: home
slides:
- layout: default
  title: From the Forest
  background: images/@gallery/forest3.jpg
- layout: default
  title: Photography and thoughts
  tagline: Gathered by Keith Lippincott
  background: images/@gallery/forest3.jpg
works_left:
- title: PNW Mountains
  link_to: gallery/pnw-mountains
  image: gallery/pnw-mountains/images/nwMT0.jpg
  categories: Landscapes
- title: Reflections
  link_to: gallery/reflections
  image: gallery/reflections/images/reflections0.jpg
  categories: Photography
works_right:
- title: Color
  link_to: gallery/color
  image: gallery/color/images/color0.jpg
  categories: Elements
---

<div class="full no-padding">
  <div id="slides" class="fullscreen">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <div class="row">
              <div class="large-10 large-centered columns">
                {% if slide.layout == 'default' %}
                  <div class="image-wrapper" style="background-image: url({{site.url}}/{{slide.image}});"></div>
                  <div class="two spacing"></div>
                  <h1>{{slide.title}}</h1>
                  <p>{{slide.tagline}}</p>
                {% else %}
                  <div class="image-wrapper" style="background-image: url({{site.url}}/{{slide.image_top}});"></div>
                  <div class="image-wrapper arrows" style="background-image: url({{site.url}}/{{slide.image_bottom}});"></div>
                  <div class="three spacing"></div>
                  <h1>{{slide.title}}</h1>
                {% endif %}
              </div>
            </div>
          </div>
          <img src="{{site.url}}/{{slide.background}}" alt="">
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>

<div class="full centered-text light-grey">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h2>About</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
        Keith literally means "From the Forest". Isn't that funny? After about 25 years of carrying the name I realized it fit perfectly. I really like it because, 
          it emphasizes that there is a forest out there much bigger than me. So this whole website of "forest" is really not actually "Keith", it's where "Keith" comes from.
          It is the places I've gone, the stories I've heard, and the things I have thought about. The reality is, we are all a product of our experience 
          and often the experience we're handed is not chosen. It's a gift. And it is a gift I am giving back through this site. Enjoy!
      </p>
    </div>
  </div>
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Photography</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>